body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;  /* para remover as "bolinhas" antes de cada elemento da lista */
    width: 720px;   /*largura fixa */
}

ul li {
    float: left;  /* para deixar elementos fluantes e um <li> ao lado do outro*/
    background: url(../imagens/aba-direita.png) no-repeat top right;
    /* alinhar a partir da direita */
}

li a {
    display: block;  /* para converter em blocos para que o width seja aplicado */
    text-decoration: none;   /* remover underline do link */
    padding: 0 2em;     /* espaços entre os links */
    line-height: 3em;    /* altura da linha */
    background: url(../imagens/aba-esquerda.png) no-repeat top left;
    color: white;
} 

ul a:hover {
    color: #89401f;
}

ul #atual {
    background: url(../imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {
    background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;
}