body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 85%;   /* layout liquido utliza porcentagem para definir o tamanho dos componentes*/
    margin: 0 auto;     /*auto para as laterais = centralizar*/
    background: #fff;   
    min-width: 720px;        /* largura mínima do container */
    max-width: 960px;       /* largura máxima do container */
    /* min-height: 720px;      /* altura mínima do container 
       max-height: 960px;      /* altura máxima do container */
}

#marca {
    height: 100px;      /* altura */
    background: #9E9E9E;
    text-align: center;     /* centralizar texto em relação as laterais */
    line-height: 100px;     /* centralizar texto em relação a altura */
    font-size: 2em;
}

#conteudo {
    width: 75%;   /* 520px -> 74.28% */
    float: right;   /* flutuar o conteudo na direita da página */
}

#conteudo-principal {
    width: 63%;   /* 320px -> 64% */
    float: left;
}

#conteudo-secundario {
    width: 34%;   /* 320px -> 36% */
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2, 
#conteudo-secundario h3, 
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 23%;   /*180+520(conteudo) = 700 - 720(container) = 20 = espaço entre conteudo e navegação*/
    float: left;
    padding-top: 20px;      /* espaçamento superior */
    padding-bottom: 20px;   /* espaçamento inferior */
    background: #d1d1d1;
}

#navegacao ul {
    list-style: none;   /* para remover as "bolinhas" antes de cada elemento da lista */
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
