* {     /* deletando as configurações padrõs da página */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;        /* repetir na horizontal */
}

#container {
    width: 750px;   /* tamanho da div que tem o id = container */
    margin: 0 auto; /* centralizar o container */
    
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;       /* largura da imagem = 152px */ 
    height: 66px;       /* altura da imagem = 66px */
    background: url(../imagens/logo.png) no-repeat;
    text-indent: -3000px;       /* para esconder o texto noticias cidade que esta dentro de h1*/
}

/*
**** Barra de Navegação ****
*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.4em;
    line-height: 2.1em;     /* altura da barra com centralização pela altura */
    text-decoration: none;
    color: #fff;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internaciona #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

/* 
**** configuração do layout de três colunas ****
*/

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;    
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;    
    /* foi usado para posicionar cada div no seu lugar esse no lado esquerdo do container, 750px é a largura do container, usamos -750px para ir bem no inicio do container */
}

#principal {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    /* foi usado para posicionar cada div no seu lugar, esse no meio do container 195 = 180(lateral)+15 de espaço entre as div's */
}

#duas-colunas #principal {
    width: 555px;
    /* posicionando a div no meio do container 555 = 750(container) - [180(lateral)+15] de espaço entre as div's */
}

#uma-coluna #principal {
    width: 750px;
    /* posicionando a div no meio do container 555 = 750(container) - [180(lateral)+15] de espaço entre as div's */
    margin: 0 0 20px 0;
    /* para dar o espaço da div com id lateral, 195 = 180(lateral)+15 de espaço entre as div's */
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;     /* foi usado para posicionar cada div no seu lugar, esse no lado direito do container */
}

/* 
**** caixa ****
*/

.caixa {
    margin: 10px 0;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}


/* 
**** rodape ****
*/

#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}