* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../imagens/bg.png);
    margin: 15px;
}

#container {
    background: #ede9cc;
    margin: 0 auto;
    min-width: 740px;      /* para que as imagens e textos dentro do container(todo o site) não fiquem menor que 740px */
    max-width: 1180px;     /* para que as imagens e textos dentro do container não fiquem muito "esticados" 1180 por conta da minha imagem de topo */
}

#topo {
    position: relative;     /* para deixar essa área fixa na pagina */
    background: #dbcd87;
    height: 15.4em;     /* unidade em, pois ao aumentar o texto ela aumenta conforme os textos */
    min-height: 250px;  /* altura minima do topo */
}

#area-logo {
    position: absolute;   /* para deixar essa área em cima do topo */
    top: 0;
    left: 0;              /* top e left zerado para colar essa area em cima do topo e no canto esquerdo */
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;  /* referente a altura da imagem que foi usada no topo */
    z-index: 1;     /* para deixar a imagem topo-imagem-principal abaixo da imagem topo-imagem-lateral */
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;        /* para deixar a imagem logo.png em cima das outras imagens que são topo-imagem-principal e lateral */
    background: url(../imagens/logo.png) no-repeat;
    width: 151px;       /* largura da imagem logo.png*/
    height: 66px;
    text-indent: -9000px;  /* no index.html tenho que deixar escrito la algo e com o text-ident para tirar ele da página */
}

#area-menu {
    position: absolute;     /* para deixar essa área em cima do topo e junto com a área-logo */
    top: 0;
    right: 0;               /* top e right zerado para colar essa area em cima do topo e no canto direito */
    width: 450px;
    height: 250px;  /* referente a altura da imagem que foi usada no topo */
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    z-index: 2;   /* para deixar a imagem topo-imagem-lateral sobre a topo-imagem-principal */
}

#conteudo-menu {
    margin-left: 90px;      /* empurar o conteudo para a direita */
    margin-right: 15px;     /* empurar o conteudo um pouco para esquerda */
    padding-top: 15px;      /* espaçamento superior do conteudo */
}

#menu-locais {
    border-bottom: 1px solid #b5ab56;   /* criar uma linha abaixo da escrita Rio de janeiro .... reservar */
    border-top: 1px solid #b5ab56;      /* criar uma linha acima da escrita Rio de janeiro .... reservar */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}

#menu-locais .locais {
    float: left;        /* flutuar a esquerda */
    line-height: 2.1em;     /* centralizar o texto pela altura */
}

a {
    text-decoration: none;
}

a.reserva {
    float: right;       /* flutuar a direita */
    text-transform: uppercase;      /* deixar maiusculo */
    background-color: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
}

#menu {
    margin-top: 15px;
}

ul {
    list-style: none;   /* tirar os marcadores das listas */
}

ul#navegacao {
    float: left;
}

ul#navegacao a {
    text-transform: uppercase;      /* deixar maiusculo */
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;              /* aumentar o espaço entre os links */
}

ul#navegacao a:hover {
    background: #fdf6be;
}

.depoimento {
    width: 226px;
    height: 164px;  /* width e height é em relação à largura e altura da imagem depoimento */
    float: right;
}